pydata-sphinx-theme==0.14.4
myst-nb
sphinx
sphinx-autobuild
sphinx-copybutton
sphinx-design
sphinx-favicon
# XML feed for analytics
sphinx-sitemap
# Support for social / adds meta tags
sphinxext-opengraph
sphinx-inline-tabs
# for project cards
matplotlib
