furo
myst-nb
sphinx
sphinx-autobuild
sphinx-copybutton
sphinx-design
# XML feed for analytics
sphinx-sitemap
# Support for social / adds meta tags
sphinxext-opengraph
sphinx-inline-tabs
# Support for GA
sphinxcontrib-gtagjs