/* PyOS-specific vars :) */
:root {
    --pyos-color-primary: #703c87;
    --pyos-color-secondary: #8045e5;
    --pyos-color-secondary-highlight: #591bc2;
    --pyos-color-tertiary: #A66C98;
    --pyos-color-dark: #542568;
    --pyos-color-light: #DAABCF;

    /* Darkmode Adjustments*/
    --pyos-dm-color-primary: #C483E0;

    /* Fonts (overrides base theme) */
    --pst-font-family-heading: 'Poppins', sans-serif;
    --pst-font-family-base: 'Poppins', sans-serif;
    --pyos-font-family-h1: 'Itim', serif;

}


/* anything related to the dark theme */
html[data-theme="dark"] {
    --pst-color-info-bg: #400f59!important;
    --pst-color-tbl-row: #2E2E2E!important;
}

/* anything related to the light theme */
html[data-theme="light"] {
    --pst-color-tbl-row: #f5f1ff!important;
}
}


html, body {
    font-size: 1.0rem;
}

/* Allow the center content to expand to wide on wide screens */
@media (min-width: 960px){
.bd-page-width {
    max-width: min(100%, 1600px)!important;
    }
}

/* Make sure the header nav is centered  - not sure why it's not overriding*/
.navbar-header-items .me-auto, .me-auto .navbar-header-items__center {
    margin-left: auto!important;
    margin-right: auto!important;
}

/* custom fonts */

html, body {
    font-size: 1.02rem;
    font-family: 'Poppins', sans-serif!important;
}

body p {
}

.admonition {
    margin-top: 40px;
    margin-bottom: 40px;
}

h2, h3, h4 {
    font-family: 'Poppins', sans-serif!important;
}

h1 {
    margin-top: 10px;
    margin-bottom: 40px;
    font-family: 'Itim'!important;
    color: #542568;
}
h2 {
    margin-top: 60px;
}

h3 {
    margin-top: 40px}

figcaption .caption-text {
    text-align: left!important;
}

figure {
    margin-top: 60px!important;
    margin-bottom: 60px!important;
}

figcaption {
    font-size: .9em;
    font-weight: bold;
}


.admonition p {
    font-size: 1em;
}

/* poppins-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/poppins-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/poppins-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* Cards */

/* todo light and dark adaptations needed */

.sd-card-title {
    margin-bottom: 0.5rem;
    background-color: var(--pst-color-info-bg)!important;
    padding: .5rem;
    border-bottom: 2px solid #999;
    font-size: 1.2rem;
    font-weight: 600!important;
}

.sd-card-header {
    font-size: 1.2em;
    font-weight: 600;
}

.sd-card-body {
    padding: 0 0!important;

    .left-aligned
        & ul li {
        text-align: left;
    }
}

.sd-card {
    padding-bottom: 1.5em;
}

.sd-card-text {
    text-align: left;
    padding-right: 1.5em;
    padding-left: 1.5em;
}

#footnotes {
    font-size: .8em;
    line-height: 1.1;
    &span.label {
        font-weight:400
    }
}

aside.footnote {
    margin-bottom: 0.5rem;
    &:last-child {
      margin-bottom: 1rem;
    }
    span.label,
    span.backrefs {
      font-weight: 400!important;
    }

    &:target {
      background-color: var(--pst-color-target);
    }
  }


.fa-circle-check {
    color: #7BCDBA;
}

/* pyOpenSci table styles */

.pyos-table {
    & th.head, .pyos-table th.head.stub {
    background-color: #33205C!important;

    & p {
        color: #fff
    }
}
    & th.stub {
        background-color: var(--pst-color-tbl-row);
        font-weight: 500;
      }
    & td {
        vertical-align: middle;
        text-align: center;
    }
}


/* Make the first column in a table a "header" like thing */


/* Dark mode fix for tables */
@media (prefers-color-scheme: dark) {
    td:not(.row-header):nth-child(1) {
      background-color: var(--pst-color-tbl-row); /* Adjust the dark mode color */
      color: #ffffff; /* Adjust the text color for better contrast */
      font-weight: 500;
    }
  }

td, th {
    border: 1px solid #ccc; /* Light gray border */
    padding: 8px; /* Add some padding for better readability */
  }
