name: Crowdin Sync

on:
  workflow_dispatch:
  push:
    branches:
      - translation2 

jobs:
  sync-translations:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Sync with Crowdin
        uses: crowdin/github-action@v2
        with:
          upload_sources: true
          upload_translations: false
          download_translations: true
          localization_branch_name: l10n_crowdin_translations
          create_pull_request: true
          pull_request_title: "Crowdin: New translations"
          pull_request_body: "Crowdin synced updated translations via GitHub Action."
          pull_request_base_branch_name: "translation2"
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN_CROWDIN }}
          CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
